body {
  background-color: #81c9fa;
  
}

.blog-post-card {
  background-color: white; border-radius: 15px; 
  text-align: center; 
  width: 400px;
}

.post-img {
  width: 100%;
  display: block;
  border-bottom: 10px solid #ccc;

}

.post-content {
  padding: 10px
}

.post-title {
  color: #003785;
  margin: 15px
}

.post-excerpt {
  color: #003785;
  margin: 15px
}

.read-more {
  display: inline-block;
  color: grey;  background-color: aquamarine;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 3px

}

.read-more:hover {
  background-color: #def7ff
}